<template>
  <b-container class="mb-2 mt-5">
    <b-card
      img-src="http://www.scholarship.in.th/wp-content/uploads/2015/01/10.jpg
"
      img-alt="Card image"
      img-left
      class="mb-3"
    >
      <b-card-text>
        <div style="text-align: justify">
          <b-form @submit="onSubmit" @reset="onReset" v-if="show">
            <b-form-group
              id="input-group-1"
              label="Email address:"
              label-for="input-1"
            >
              <b-form-input
                id="input-1"
                v-model="form.email"
                type="email"
                placeholder="Enter email"
                required
              ></b-form-input>
            </b-form-group>

            <b-form-group
              class="mb-2 mt-2"
              id="input-group-2"
              label="Password:"
              label-for="input-2"
            >
              <b-form-input
                id="input-2"
                v-model="form.password"
                placeholder="Enter password"
                required
                type="password"
              ></b-form-input>
            </b-form-group>

            <b-button
              type="reset"
              variant="danger"
              class="m-2"
              style="float: right"
              >Reset</b-button
            >
            <b-button
              type="submit"
              variant="primary"
              class="m-2"
              style="float: right"
              >Login</b-button
            >
          </b-form>
        </div>
        <!-- {{ $store.state.auth.user }}
            {{ $store.getters['auth.isLogin'] }} -->
      </b-card-text>
    </b-card>
  </b-container>
</template>

<script>
export default {
  data () {
    return {
      form: {
        email: '',
        password: ''
      },
      show: true
    }
  },
  methods: {
    onSubmit (event) {
      event.preventDefault()
      // alert(JSON.stringify(this.form))
      this.$store.dispatch('auth/login', this.form)
    },
    onReset (event) {
      event.preventDefault()
      // Reset our form values
      this.form.email = ''
      this.form.password = ''
      // Trick to reset/clear native browser form validation state
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    }
  }
}
</script>
