<template>
  <div fluid class="mb-2 mt-3">
    <h3>จัดการข้อมูลสมาชิก</h3>
    <b-container fluid>
      <!-- <pre>{{data[0]}}</pre> -->
      <!-- <b-table :data="data" :fields="fields"> </b-table> -->
      <!-- <b-row v-for="data in data" :key="data.username">{{ data.username }}</b-row> -->
      <!-- <table>
    </table> -->

      <div v-for="(data, index) in data" v-bind:key="index">
        <table class="table table-striped">
          <thead align="center">
            <tr>
              <th scope="col">ลำดับ</th>
              <th scope="col">ชื่อผู้ใช้งาน</th>
              <th scope="col">คณะ</th>
              <th scope="col">เบอร์</th>
              <th scope="col">กระบวนการ</th>
            </tr>
          </thead>
          <tbody>
            <tr align="center">
              <th scope="row">{{ index + 1 }}</th>
              <td>{{ data.username }}</td>
              <td>{{ data.faculty }}</td>
              <td>{{ data.phone }}</td>
              <td>

                <button class="ml-2 m-2 btn btn-success" v-on:click="counter += 1">แก้ไข</button>
                <button class="btn btn-danger" v-on:click="deleteUser(data._id)">
                  ลบ
                </button>
              </td>
            </tr>
            <!-- <tr>
    <td><button v-on:click="counter += 1">ลบ</button></td>
    <td></td>
    <td></td>
  </tr> -->
          </tbody>
        </table>
      </div>
    </b-container>
  </div>
</template>

<script>
import axios from 'axios'
// import vueConfirm from '../components/VueConfirmDialog.vue'
export default {
  name: 'MemberManagement',
  methods: {
    getUser () {
      axios.get('http://localhost:3000/users').then((respones) => {
        this.data = respones.data
        console.log(respones.data)
      })
    },
    deleteUser (_id) {
      //   const self = this;
      // this.$vueConfirm.confirm(
      //   {
      //     message: `Are you sure? ${_id} will be remove?`,
      //     button: {
      //       no: "No",
      //       yes: "Yes"
      //     }
      //   },
      //   function(vueConfirm) {
      //     if (confirm == true) {
      //       for (let i = 0; i < self.list.length; i++) {
      //         if (self.list[i].id == item.id) {
      //           self.list.splice(i, 1);
      //           self.$vueConfirm.close();
      //           break;
      //         }
      //       }
      //     }
      //   }
      // )
      if (confirm('Do you really want to delete this user?')) {
        axios.delete('http://localhost:3000/users/' + _id).then((respones) => {
          this.data = respones.data
          this.$router.go()
          console.log(respones.data)
        })
      }
    }
  },
  created () {
    this.getUser()
  },
  data () {
    return {
      modalShow: false,
      data: ''
    }
  }
}
</script>

<style>
/* .b-table {
  background-color: rgb(204, 247, 175);
  font-family: sans-serif;
  text-align: center;
  border: 1pt solid rgb(85, 85, 85);
} */
.table {
  background-color: rgb(201, 254, 223);
  font-family: sans-serif;
}
</style>
