<template>
  <div fluid class="mb-2 mt-3">
    <h3>รายงานการพิจารณา</h3>
    <b-container fluid>
    <b-card
      border-variant="secondary"
      header-border-variant="secondary"
      align="left"
    >
    <div v-for="(data, index) in data" v-bind:key="index">
        <table class="table table-striped">
          <thead align="center">
            <tr>
              <th scope="col">ลำดับ</th>
              <th scope="col">ห้อง</th>
              <th scope="col">ตึก</th>
              <th scope="col">ผู้จอง</th>
              <th scope="col">อุปกรณ์</th>
              <th scope="col">สถานะ</th>
            </tr>
          </thead>
          <tbody>
            <tr align="center">
              <th scope="row">{{ index + 1 }}</th>
              <td>{{ data.room }}</td>
              <td>{{ data.building }}</td>
              <td>{{ data.user }}</td>
              <td>{{ data.note }}</td>
              <td>
                  {{ data.bcStatus }}
              </td>
            </tr>
            <!-- <tr>
    <td><button v-on:click="counter += 1">ลบ</button></td>
    <td></td>
    <td></td>
  </tr> -->
          </tbody>
        </table>
      </div>
    <!-- <b-form-textarea
      id="textarea-rows"
      placeholder=" "
      rows="17"
    ></b-form-textarea> -->
    <!-- <b-row>
            <b-col class="text-right mb-2 mt-3">
              <b-button variant="danger" @click="cancel" class="m-1" style="float:right">ยกเลิก</b-button>
              <b-button variant="success" @click="saveNew" class="m-1" style="float:right">ยืนยัน</b-button>
            </b-col>

          </b-row> -->
            </b-card>
     </b-container>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  methods: {
    getClassroombcs () {
      axios.get('http://localhost:3000/classroomBookingCertificate/').then((respones) => {
        this.data = respones.data
        console.log(respones.data)
        console.log(respones.data[0]._id)
        console.log(respones.data[0].note)
      })
    }
  },
  created () {
    this.getClassroombcs()
  },
  data () {
    return {
      modalShow: false,
      data: ''
    }
  }
}
</script>
