<template>
  <div class="grid">
    <ul>
      <li v-for="(item) in list" :key="item.id">
        <span class="item">
          {{item.text}}
          <button @click.stop="deleteUser(item)">Delete</button>
        </span>
      </li>
    </ul>
  </div>
</template>
