<template>
  <div id="app">
    <div id="nav">
      <nav class="navbar navbar-expand-sm navbar-dark bg-warning">
        <!-- Content -->
        <div class="container-fluid">
          <!-- Brand -->
          <a href="#" class="navbar-brand"><NavBar /></a>
          <!-- Menu -->
          <digital-clock  class="ml-3 m-3" :blink="true" />
          <ul class="navbar-nav">
            <li class="nav-item">
              <form class="form-inline">
                <input
                  class="form-control mr-sm-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
              </form>
            </li>
            <li class="nav-item">
              <form class="form-inline">
                <button
                  class="btn btn-outline-success my-2 my-sm-0"
                  type="submit"
                >
                  Search
                </button>
              </form>
            </li>
          </ul>
        </div>
      </nav>

      <b-container fluid>
        <b-row>
          <b-col class="app-menu min-vh-100" v-if="isLogin && role == 'user'"
            ><MenuMember
          /></b-col>
          <b-col class="app-menu min-vh-100" v-if="isLogin && role == 'admin'"
            ><MenuReview
          /></b-col>
          <!-- <b-col class="app-menu min-vh-100" v-if="isLogin && role == 'admin'"
            ><MenuAdmin
          /></b-col> -->
          <b-col cols="10">
            <b-container>
              <b-row> </b-row>
              <b-row class="text-justify">
                <b-col><router-view></router-view></b-col>
              </b-row>
            </b-container>
          </b-col>
        </b-row>
      </b-container>

      <!-- <button @click="logout()" v-if="isLogin">logout</button> -->
    </div>
  </div>
</template>

<script>
import NavBar from './components/NavBar.vue'
import MenuMember from './components/MenuMember.vue'
import MenuReview from './components/MenuReview.vue'
import DigitalClock from 'vue-digital-clock'

// import MenuAdmin from './components/MenuAdmin.vue'

export default {
  components: {
    NavBar,
    MenuMember,
    MenuReview,
    DigitalClock
    // MenuAdmin
  },
  data () {
    return {
      role: 'user'
    }
  },
  computed: {
    isLogin () {
      return this.$store.getters['auth/isLogin']
    }
  },
  methods: {
    logout () {
      this.$store.dispatch('auth/logout')
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
}

#nav {
  padding: 0px;
}

#nav a {
  font-weight: bold;
  color: #505151;
  font-size: 15px;
}

#nav a.router-link-exact-active {
  color: gold;
}
</style>
